.content{
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.content p{
    font-size: 15rem;
}